@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(back.jpg) no-repeat;
  background-size: cover;
}

.login-box{
	width: 1100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #ffc000;
	z-index: 0;
	background-color: rgba(255,255,255, 0.97) ;
    align-content: center;
}
 
.textbox{
  width: 80%;
  overflow: hidden;
  font-size: 15px;
  padding: 20px 0 8px;
  margin: 0;
  border-bottom: 1px solid #00b050;
  transition-duration: 0.5s;
}
.login-box h1{
    width: 80%;
  overflow: hidden;
  font-size: 60px;
  padding: 8px 0;
  margin: 8px 0;
  transition-duration: 0.5s;
    height: 60px;
     
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 20px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.textbox:hover{
  position: relative; 
  top: -1px;
}
.btn{
  width: 80%;
  background: none;
  border: 2px solid #00b050;
  color: #00b050;
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
  margin: 20px 0 12px;
  transition-duration: 0.5s;
}

.btn:hover{
  position: relative; 
  top: -2px;
    background: 
} 

table{
    width : 80%;
    
    
}
td{
    align-content: center;
    padding: 0 0 2px  0;
    align-items: center;
}

td radio{
    background: #ffc000;
}

#radio{
    padding:20px 0;
}
fieldset{
    width: 77%;
    border-color: #00b050;
}
legend{
    font-size: 20px;
    color: dimgrey;
}
.register a{
    border:2px solid #ffc000;
    color: #00b050;
    text-decoration: none;
    padding: 8px;
}

textarea{
    resize: none;
	border: 2px solid #00b050;
	padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
}

